/*** MIXINS ***/

/*
 *  INCLUDED MIXINS:
 *
 *  .calc-rem(...)
 *  .clearfix(...)
 *  .bordered(...)
 *  .font-size(...)
 *  .appearance(...)
 *  .filter(...)
 *  .font-feature-settings(...)
 *  .font-variant-ligatures(...)
 *  .translate3d(...)
 */

/* Calculate optimal REM based on default font-size */
.calc-rem(@size) {
    @remsize: (@size / 16px) * 1rem;
}


/* ClearFix */
.clearfix() {

    *zoom: 1; /* Workaround for older IE */
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}


/* Calculate and set font-size based on parameter with px fallback */
.font-size(@size) {
    .calc-rem(@size);
    font-size: @size; // Fallback for older browsers
    font-size: @remsize;
}


.appearance(@appearance) {
    -webkit-appearance: @appearance;
    -moz-appearance: @appearance;
    appearance: @appearance;
}


.filter(@filter) {
    -webkit-filter: @filter;
    -moz-filter: @filter;
    -ms-filter: @filter;
    filter: @filter;
}

.font-feature-settings(@settings) {
    -webkit-font-feature-settings: @settings;
    -moz-font-feature-settings: @settings"=1";
    -moz-font-feature-settings: @settings;
    -ms-font-feature-settings: @settings 1;
    font-feature-settings: @settings;
}

.font-variant-ligatures(@ligatures) {
    -webkit-font-variant-ligatures: @ligatures;
    font-variant-ligatures: @ligatures;
}

.translate3d(@x:0, @y:0, @z: 0) {
  .transform(translate3d(@x, @y, @z));
}
