/*** MIXINS ***/

.clearfix() {
    &:before,
    &:after {
        content: ' ';
        display: table;
    }
    
    &:after {
        clear: both;
    }
}

.appearance(@appearance) {
    -webkit-appearance: @appearance;
    -moz-appearance: @appearance;
    appearance: @appearance;
}

.filter(@filter) {
    -webkit-filter: @filter;
    -moz-filter: @filter;
    -ms-filter: @filter;
    filter: @filter;
}

.transform-origin(@origin) {
    -webkit-transform-origin: @origin;
    -moz-transform-origin: @origin;
    -ms-transform-origin: @origin;
    transform-origin: @origin;
}
