/*** VARIABLES ***/

/* FONTS */
@base-font:                 'Lato', Arial, sans-serif;
@base-font-size:            15px;


/* SIZES */
@smartphone-viewport-width: 35.5rem;    // >= 568px   | Smartphone
@tablet-viewport-width:     48rem;      // >= 768px   | Tablet
@desktop-viewport-width:    64rem;      // >= 1024px  | Desktop
@larger-viewport-width:     80rem;      // >= 1280px  | ...
@container-width:           61.375rem;
@col-offset:                10px;
